{% extends "base.html" %}
{% block title %}Login to IonAI{% endblock %}
{% block content %}
  {% with messages=get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        {{ msg }}
      {% endfor %}
    {% endif %}
  {% endwith %}


  <div class="">
    <div class="">
      <h2>Login</h2>
      <form method="POST" action="{{ url_for('login') }}">
        <div class="">
          <span class=""></span><ion-icon name="mail"></ion-icon>
          <label>Email</label>
          <input type="email" required>
        </div>
        <div class="">
          <span class=""></span><ion-icon name="document-lock"></ion-icon>
          <label>Password</label>
          <input type="password" required>
        </div>
        <div class="">
          <label><input type="checkbox">Remember me</label>
          <a href="#">Forget password</a>
        </div>
        <button type="submit" class="">Login</button>
      </form>
    </div>
  </div>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}

